node_modules/
dist/
coverage/
package-lock.json
.git/
**/*.min.js
**/*.min.css
build/
.next/
out/
.cache/
public/
hooks/
test/artifacts/
reporters/phpunit/
reporters/go/**/*.go
reporters/go/**/*.mod
reporters/go/**/*.sum
reporters/go/**/*.tsbuildinfo
reporters/test/factories/go.ts
